# Compiled class file
*.class
target/

## Git file lock #
*.lock
*.DS_Store
*.swp
*.out
*.ipr
*.iws
*.bak

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### idea eclipse gradle###
.settings/
.classpath
.project
.metadata/
.idea/
.eclipse/
.gradle/
*.iml

## log file ###
*.log
*.lnk

